<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>CRUD Mission - Spring Boot</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/wingcss/0.1.8/wing.min.css"/>
    <style>
        input[type=number] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            -webkit-transition: .5s;
            transition: .5s;
            outline: 0;
            font-family: 'Open Sans', serif;
        }
    </style>
    <!-- Load AngularJS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript">
      var app = angular.module("EventManagement", []);

      //Controller Part
      app.controller("EventManagementController", function ($scope, $http) {

        //Initialize page with default data which is blank in this example
        $scope.events = [];

        $scope.form = {
          id: -1,
          name: ""
        };

        //Now load the data from server
        _refreshPageData();

        //HTTP POST/PUT methods for add/edit events
        $scope.update = function () {
          var method = "";
          var url = "";
          var data = {};
          if ($scope.form.id == -1) {
            //Id is absent so add events - POST operation
            method = "POST";
            url = '/api/events';
            data.name = $scope.form.name;
          } else {
            //If Id is present, it's edit operation - PUT operation
            method = "PUT";
            url = '/api/events/' + $scope.form.id;
            data.name = $scope.form.name;
          }

          $http({
            method: method,
            url: url,
            data: angular.toJson(data),
            headers: {
              'Content-Type': 'application/json'
            }
          }).then(_success, _error);
        };

        //HTTP DELETE- delete event by id
        $scope.remove = function (event) {
          $http({
            method: 'DELETE',
            url: '/api/events/' + event.id
          }).then(_success, _error);
        };

        //In case of edit events, populate form with event data
        $scope.edit = function (event) {
          $scope.form.name = event.name;
          $scope.form.id = event.id;
        };

          /* Private Methods */
        //HTTP GET- get all events collection
        function _refreshPageData() {
          $http({
            method: 'GET',
            url: '/api/events'
          }).then(function successCallback(response) {
            $scope.events = response.data;
          }, function errorCallback(response) {
            console.log(response.statusText);
          });
        }

        function _success(response) {
          _refreshPageData();
          _clearForm()
        }

        function _error(response) {
          alert(response.data.message || response.statusText);
        }

        //Clear the form
        function _clearForm() {
          $scope.form.name = "";
          $scope.form.id = -1;
        }
      });
    </script>
</head>
<body ng-app="EventManagement" ng-controller="EventManagementController">

<div class="container">
    <h1>CRUD Mission - Spring Boot</h1>
    <p>
        This application demonstrates how a Spring Boot application implements a CRUD endpoint to manage <em>events</em>.
        This management interface invokes the CRUD service endpoint, that interact with a ${db.name} database using JDBC.
    </p>

    <h3>Add/Edit a event</h3>
    <form ng-submit="update()">
        <div class="row">
            <div class="col-6"><input type="text" placeholder="Name" ng-model="form.name" size="60"/></div>
        </div>
        <input type="submit" value="Save"/>
    </form>

    <h3>Event List</h3>
    <div class="row">
        <div class="col-2">Name</div>
    </div>
    <div class="row" ng-repeat="event in events">
        <div class="col-2">{{ event.name }}</div>
        <div class="col-8"><a ng-click="edit( event )" class="btn">Edit</a> <a ng-click="remove( event )" class="btn">Remove</a>
        </div>
    </div>
</div>

</body>
</html>
